<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Anzeige Einzelbild</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1>Anzeige Einzelbild: <span th:text="${bild_titel}"></span></h1>

    <img th:src="@{/app/bild/{bild_id}(bild_id=${bild_id})}" alt="Bild" width="90%">
    <br><br>

    <p>
        Das Bild wurde am
        <span th:text="${#temporals.format(bild_datumzeit, 'dd. MMM yyyy (EEE)')}"></span>
        um
        <span th:text="${#temporals.format(bild_datumzeit, 'HH:mm')}"></span>
        Uhr hochgeladen und hat eine Größe von
        <span th:text="${#numbers.formatInteger(bild_kBytes, 0, 'POINT')}"></span> kBytes.
    </p>
    <br>

    <p>
        <span class="fett">Tags:</span>
        <span class="kursiv" th:if="${#sets.isEmpty(bild_tags)}">keine</span>

        <span th:each="tag : ${bild_tags}">
            <a  th:href="@{/app/tag/{tag_id}(tag_id=${tag.getId()})}">
                <span th:text="${tag.getName()}"></span>
            </a>
            &nbsp;
        </span>
    </p>

</body>